<div class="widget-agenda widget">
    <h4 class="widget__title">Horários de Atividades 🕊️</h4>
    <div class="widget__content">
        <p><strong>🙏 Reuniões Públicas</strong><br>
        <small>5ª feira: 19:40 (Casa do Pão)</small></p>
        <p><strong>💻 Evangelização Adultos</strong><br>
        <small>Seg a Sáb: 13:30 (Lar e Passes)</small><br>
        <small>3ª e 6ª: Entrevistas 13:30</small></p>
        <p><strong>👧👦 Evangelização Infantil</strong><br>
        <small>Sábado: 14:00 (Lar)</small></p>
        <p><strong>🥣 Sopa Fraterna</strong><br>
        <small>2ª a Sáb: 14:15 (Lar)</small></p>
        <hr>
        <div style="text-align: center;">
            <a href="/agenda/" class="agenda-link-detail">Ver Agenda Detalhada</a>
        </div>
    </div>
</div>
