# Outputs de compilação (Gerados dinamicamente na nuvem)
public/
resources/
docs/

# Trava de concorrência do Hugo (Sintaxe corrigida)
.hugo_build_lock
.hugo_build.lock

# Arquivos de sistema e feeds locais
*.xml
.DS_Store